#cat-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

#cat-list li {
	display: inline-block;
	margin: 10px;
	height: 200px;
	width: 300px;
	text-align: center;
    vertical-align: middle;
}

#cat-list li span {
	padding-top: 10px;
	padding-bottom: 20px;
    font-size: 30px;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

.center_table {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
